<!DOCTYPE html>
<html>
<head>
    <title>Ratings</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/rainbow.css"  />
</head>
<body>

    <h1 class="moving-rainbow">Ratings</h1>
    <script type="text/javascript">
        $(document).ready(function endless(elem) {

            // let gradientBackstop = 0;

            $(".moving-rainbow").animate({"background-position-x": "16em"},
                8000, "linear", function () {
                    $(".moving-rainbow").css({"background-position-x": "0em"});
                        endless(elem);
                        });
            // setInterval(() => {
            //     gradientBackstop += 1;
            //     let gradientProperty = `${gradientBackstop}px`;
            //     $(".moving-rainbow").css('background-position-x', gradientProperty);

            // }, 1000);
        });

    </script>

    <hr> {# a horizontal line #}
       
        {% block content %}
        put your content here!
        {% endblock %}
</body>
</html>